.home-notice-detail {
  .ant-collapse-item {
    .ant-collapse-header {
      padding: 16px 0 2px 40px;
    }
  }
  .notice-item {
    display: flex;
    justify-content: space-between;
    .notice-title {
      display: inline-block;
      width: 600px;
      font-size: 20px;
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .notice-detail-content {
    width: 900px;
    margin: 20px auto;
    font-size: 18px;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
  }
}
